<%= form_for ([@tournament,@league]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :participants %><br />
    <%= f.number_field :participants %>
  </div>
   <div class="field">
    <%= f.label :qualifies %><br />
    <%= f.number_field :qualifies %>
  </div>
  <div class="field">
   <%= f.collection_select(:parent_phase_ids, @tournament.phases.find(:all), :id, :name, {}, :multiple => true) %>
  </div>
  <div class="field">
    <%= f.label :retour %><br />
    <%= f.check_box :retour %>
  </div>
  <div class="field">
    <%= f.label :pointsvict %><br />
    <%= f.number_field :pointsvict %>
  </div>
  <div class="field">
    <%= f.label :pointsnul %><br />
    <%= f.number_field :pointsnul %>
  </div>
  
  <div class="actions">
    <%= f.submit button %>
  </div>
<% end %>