<table class="tournament">
  <tr>
    <td class="main">
      <h1>
        <%= @tournament.name %>
      </h1>
		<%= @tournament.status %>
		
	  <%= render 'inscrit_form' if signed_in? %>
    </td>

    <td class="sidebar round">
      <strong>Name</strong> <%= @tournament.name %><br />
	  <strong>Description</strong> <%= @tournament.description %><br />
      <strong>URL</strong> <%= link_to tournament_path(@tournament), @tournament %><br />
      <strong>Phases</strong> <%= link_to "Voir", tournament_phases_path(@tournament)%><br />
	  <strong>Nombre</strong> <%= @tournament.phases.count %>
  
    </td>
  </tr>
  <tr>
	<td class="round">
	  <b>Participants :</b>
	    <%= @tournament.inscriptions.count %>	Sur <%= @tournament.participants %>
		<ul class="users">
			<% @tournament.users.each do |user| %>
			<%= render user %>
			<% end %>
		</ul>
	</td>
  </tr>
</table>