<table class="tournaments">
  <tr>
	<td class="admin round">
	   <%= link_to "editer", edit_tournament_path(@tournament), :title => "Editer #{@tournament.name}" %>
	   <%= link_to "supprimer", @tournament, :method => :delete, :confirm => "Sur ?",
                                :title => "Supprimer #{@tournament.name}" %>
	    <%= render 'stop_start'%>
	</td>
  </tr>
  <tr>
    <td class="main round">
      <h1>
        <%= @tournament.name %>
      </h1>
	  <h4><%= @tournament.return_status %></h4>
		
	  <% if signed_in? %>
		<% if @tournament.open? %>
			<%= render 'inscrit_form' %>
		<% end %>
		<% if @tournament.choix? %>
			<%= render 'choix_team' %>
		<% end %>
	  <% end %>
    </td>

    <td class="sidebar round">
      <strong>Name</strong> <%= @tournament.name %><br />
	  <strong>Description</strong> <%= @tournament.description %><br />
      <strong>URL</strong> <%= link_to tournament_path(@tournament), @tournament %><br />
      <strong>Phases</strong> <%= link_to "Voir", tournament_phases_path(@tournament)%><br />
	  <strong>Nombre</strong> <%= @tournament.phases.count %>
  
    </td>
  </tr>
  <tr>
	<td class="round">
	  <b>Participants :</b>
	    <%= @tournament.inscriptions.count %>	Sur <%= @tournament.participants %>
		<ul class="users">
			<% @tournament.users.each do |user| %>
			<li>
				<%= gravatar_for user, :size => 30 %>
				<%= link_to user.name, user %>
			</li>
			<% end %>
		</ul>
	</td>
  </tr>
</table>