<%= form_for ([@tournament,@phase],:type => @type, :as => :phase ) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :participants %><br />
    <%= f.number_field :participants %>
  </div>
   <div class="field">
    <%= f.label :qualifies %><br />
    <%= f.number_field :qualifies %>
  </div>
  <div class="field">
  <%= f.label "Phases Parentes" %><br />
   <%= f.collection_select(:parent_phase_ids, @tournament.phases.find(:all), :id, :name, {}, :multiple => true) %>
  </div>
  <%= render :partial => @phase.type.downcase, :locals => { :f => f } %>
   <div class="actions">
    <%= f.submit button %>
  </div>
<% end %>