  <div class="field">
    <%= f.label :retour %><br />
    <%= f.check_box :retour %>
  </div>
  <div class="field">
    <%= f.label :pointsvict %><br />
    <%= f.number_field :pointsvict %>
  </div>
  <div class="field">
    <%= f.label :pointsnul %><br />
    <%= f.number_field :pointsnul %>
  </div>
  